* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 375px;
  margin: 0 auto;
  border: 1px solid #c6c6c6;
  padding-top: 54.33px;
}

header {
  height: 54.33px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid #c6c6c6;
  padding: 0 16px;
  width: 375px;
  position: fixed;
  top: 0;
}

h1 {
  font-family: "Pacifico", cursive;
}

.logo {
  width: 127px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.post-img {
  width: 100%;
  margin: 5px 0 5px;
}

.flex-row {
  display: flex;
  align-items: center;
  padding: 10px;
}

#name {
  margin-left: 7px;
}

.icons {
  width: 25px;
  padding: 5px 0 5px 3px;
  margin-bottom: 5px;
}

.user-interaction {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1.6rem solid #ededed;
}

.user-interaction p {
  padding: 3px 0 5px 5px;
}

.bold {
  font-weight: bold;
}

#location {
  display: block;
  font-weight: normal;
}

#icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 21px 10px 11px;
}
